<template name="categoryContHeader">
    <h1>
        {{#if checkMainCategory category}}
            Main category
            <!--<a href="{{pathFor 'mainWiki'}}"></a>-->
        {{else}}
            {{category}}
            <!--<a href="{{pathFor 'wikiCategory' category=category}}"></a>-->
        {{/if}}
        <small>
            {{#if inProject}}
                {{#with inProject}}
                    Project wiki {{getProject.title}}
                {{/with}}
            {{else}}
                {{#if scopeTypeIsOrg}}
                    Organization wiki
                {{else}}
                    Personal wiki
                {{/if}}
                {{scopeName}}
            {{/if}}

        </small>
    </h1>
</template>
