<template name="sidebarProjectMenu">
    <li class="treeview">
        <a href="#"><i class="fa fa-cubes"></i> <span>{{menuTitle}}</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu" style="display: none;">
            {{#each projects}}
                <li class=""><a href="#" data-id="{{_id}}" class="project-link"><i class="fa fa-archive"></i> {{title}} <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu" style="display: none;">
                        <li class="user-list">

                            <!--<a data-id="projectAddUser"  data-project-id="{{_id}}" class="sidebar-project user-element confirm-modal-btn"><i class="fa fa-plus"></i></a>-->
                            <!--{{# each projectUsers }}-->
                                <!--{{>sidebarUserElement}}-->
                            <!--{{/each}}-->
                        </li>
                        <li><a href="#{{projectWiki._id}}"><i class="fa fa-wikipedia-w"></i> Wiki</a></li>
                        <!--<li>-->
                        <!--<a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>-->
                        <!--<ul class="treeview-menu">-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </li>
            {{/each}}
        </ul>
    </li>


</template>

