<template name="articleEdit">
<!-- Content Wrapper. Contains page content -->
    {{#if Template.subscriptionsReady }}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{pathFor 'mainDash'}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{{pathFor 'mainWiki'}}"><i class="fa fa-wikipedia-w"></i> Wiki</a></li>
                {{#unless checkMainCategory currentCategory}}
                    <li><a href="{{pathFor 'wikiCategory' category=currentCategory}}"><i class="fa fa-wikipedia-w"></i> {{currentCategory}}</a></li>
                {{/unless}}
                <li class="active"><i class="ion-document"></i> {{currentArticle.title}}</li>

            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
        {{else}}
        {{>loading}}
        {{/if}}
</template>
