<template name="editArticleTitle">
    <div class="row">
        <div class="col-md-6">
            {{> yfInput obj=this field="title" method="saveArticleTitleNew" collection="WikiArticle" formClass=articleForm}}
        </div>
    </div>

        <!--<div class="row">-->
            <!--<div class="col-lg-8">-->
                <!--<input type="text" class="form-control" id="articleTitle"-->
                       <!--placeholder="Article title" value="{{title}}">-->
                <!--<label class="control-label" style="display: none">-->
                    <!--<i class="fa fa-times-circle-o"></i> <span class="category-error"></span></label>-->
            <!--</div>-->
        <!--</div>-->
</template>
