<template name="listArticlesCategory">
    <!--<div class="row">-->
    <!--<div class="col-md-9">-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
    <!--<div class="form-group">-->
    <!--<select class="form-control input-sm col-xs-6">-->
    <!--<option>by Author</option>-->
    <!--<option>by Title</option>-->
    <!--<option>by Date - Created</option>-->
    <!--<option>by Date - Modified</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="box">
            <div class="box-body">
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>

                    </thead>
                </table>
                {{#each categoryArticles}}
                    {{title}}
                {{/each}}

            </div>
        </div>
    </div>
</template>
