<template name="mainWiki">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Wiki
                {{#if scopeTypeIsOrg}}
                    <small>for {{scopeName}} organization profile</small>
                    {{else}}
                    <small>for {{scopeName}} personal profile</small>
                {{/if}}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{pathFor 'mainDash'}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Wiki</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <button type="button" class="btn btn-default bg-maroon add-article">Add Article</button>
                <button type="button" class="btn btn-default bg-purple add-category">Add Wiki Category</button>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
