<template name="mainWiki">
    {{#if Template.subscriptionsReady}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Wiki
                    {{#if scopeTypeIsOrg}}
                        <small>for {{scopeName}} organization profile</small>
                    {{else}}
                        <small>for {{scopeName}} personal profile</small>
                    {{/if}}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'mainDash'}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active">Wiki</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <button type="button" class="btn btn-default bg-maroon add-article">Add Article</button>
                        <!--{{#if canAddCategory}}-->
                    <!--<button type="button" class="btn btn-default bg-purple add-category-modal">Add Wiki Category-->
                    <!--</button>-->
                        <!--{{/if}}-->
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-sm-12">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Wiki Categories</h3>

                                <div class="box-tools pull-right">
                                    {{#if canAddCategory}}
                                        <button class="btn btn-box-tool bg-purple add-category-modal">Add Wiki
                                            Category
                                        </button>
                                    {{/if}}
                                    <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                                    <!--<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--<ul class="nav nav-pills nav-stacked">-->
                                        <div class="list-group">
                                            {{#each categories}}
                                                <a href="{{pathFor 'wikiCategory' category=this}}" class="list-group-item">
                                                    {{this}}
                                                    <span class="pull-right">
                                                <button class="btn btn-xs btn-danger delete-category-modal" data-category="{{this}}">
                                                    <i class="fa fa-times"></i> Delete
                                                </button>
                                            </span>
                                                </a>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info-box col-md-6">
                                            <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">Likes</span>
                                                <span class="info-box-number">93,139</span>
                                            </div><!-- /.info-box-content -->
                                        </div><!-- /.info-box -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer no-padding">
                            </div>
                            <!-- /.footer -->
                        </div>
                    </div>
                </div>
                {{>addCategoryModal}}
                {{>deleteCategoryModal }}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    {{else}}
        {{> loading}}
    {{/if}}

</template>
