<template name="inviteUserDialog">
    <!-- Your Page Content Here -->
    <div class="modal fade" id="inviteUserDialog" tabindex="-1" role="dialog"
         aria-labelledby="inviteUserDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="inviteUserDialogLabel">Invite user</h4>
                </div>
                <form role="form" class="invite-user-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="inviteUserEmail">User email</label>
                                    <input type="email" class="form-control" id="inviteUserEmail"
                                           placeholder="User email" required name="invite-user-email">
                                    <label class="sending-email" style="display: none">
                                        <i class="fa fa-spinner fa-spin"></i><span> Sending</span>
                                    </label>
                                    <label class="control-label" style="display: none">
                                        <i class="fa fa-times-circle-o"></i> <span class="user-email-error"></span></label>

                                </div>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-flat invite-user">Invite</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>
